* {
	box-sizing: border-box;
}

body, html {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  font-family: 'Tajawal', sans-serif;
}

h2.menuSection {
	font-size: 26px;
	color: #ec3b47;
	display: block;
}

h3.menuItem {
	font-size: 20px;
	display: block;
}

p.menu {
	font-size: 12px;
	display: block;
}


p.main {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
	font-weight: 500;
	text-align: center;
	color: white;
}

article {
  margin-bottom: 1%;
  background-color: #efefef;
}

img {
    width: 100%;
    height: auto;
}


.textBlock {
	width: 100%;
	padding: 20px 40px;
  position: relative;

}

.leftCol, .rightCol {
  float: left;
  margin: 1%;
  padding: 30px;
  width: 48%;
  background: url(../images/map.png);
  background-size: cover;
}

.clearFloat {
	clear: both;
}

.parallax { 
    background: url(../images/cover.jpg);
    height: 50%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topnav {
  overflow: hidden;
  background-color: #fec430;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 100;
  transition: top 0.3s;
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: tomato;
}

.active {
  color: tomato;
}

.topnav .icon {
  display: none;
} 


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0; 
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .rightCol {
    float: none;
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .leftCol {
    float: none;
    width: 100%;
    display: block;
  }
}

